# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fe6601714b9a122cce057580e6da74cbea726108758003f5c25119a053ab807b21b8abbfd1f9cd4706cbc1b1a346654442e1510d7042c21539960baf272b83c5

test:
  secret_key_base: 478db494f229d0cd7cfcaf3a9d421005931cafb501e7cba6bc50ccccf657201f64644fa637b09fd8120a14964cad71bf100578a781528437e8b19ef800e9c5af

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
